
footer{
  padding-top: 20px;
}

.footer-basic {
  padding-bottom: 0px;
  padding-top: 10px;
  background-color: #F5DEB3;
  color: black;
  bottom: 0;
  position: relative;
  width: 100%;
  margin:auto;
}

.footer-basic .containers{
padding-left: 10px;
}

.footer-basic .mail a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.footer-basic p {
  text-align: center;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
  padding-left: 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.footer-basic .copyright {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}